z<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<div layout:fragment="content" class="content d-flex justify-content-center">
    <div class="w-100">
   		<div class="product_titles mb-3">
    		<h2>NEW ARRIVALS</h2>
	    </div>
	   	<section class="w-100 bg-light mb-3 carousel slide">
        	<div class="media-parent-box d-flex justify-content-between">
            	<article th:each="newProductInfo, prodStat : ${newProductInfoList}" class="media-box mx-3">
                	<div th:id="'carouselIndicatorsNew' + ${prodStat.index}" class="carousel slide" data-ride="carousel">
       					<div class="carousel-inner">
		                	<div th:each="newProductPic, picStat : ${newProductInfo.productPics}" th:classappend="${picStat.index == 0} ? 'carousel-item active' : 'carousel-item'" class="product">
		                		<img th:src="${newProductPic.imagePath}" alt="ProductImg" width=450px; height=300px;>
		                	</div>
		                </div>
		                <a class="carousel-control-prev" th:href="'#carouselIndicatorsNew' + ${prodStat.index}" role="button" data-slide="prev">
				            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				            <span class="sr-only">Previous</span>
				        </a> 
				        <a class="carousel-control-next" th:href="'#carouselIndicatorsNew' + ${prodStat.index}" role="button" data-slide="next">
				            <span class="carousel-control-next-icon" aria-hidden="true"></span>
				            <span class="sr-only">Next</span>
				        </a>
		            </div>
                	<div th:text="${newProductInfo.product.name}" class="font-weight-bold">Product Name</div>
                	<div th:text="${newProductInfo.product.description}" class="media-text">Product Detail</div>
                	<div class="media-text font-weight-bold"><a th:href="|/horsepower/product/product-detail?productId=${newProductInfo.product.id}|">
						Shop now</a></div>
                </article>
            </div>
            <div class="d-flex justify-content-between">
				<div><a th:if="${prevIndexNew != 0}" th:href="|/horsepower/product/product-list?prevIndexNew=${prevIndexNew}|" class=""> &lt;&lt;</a></div>
				<div><a th:if="${nextIndexNew != 20}" th:href="|/horsepower/product/product-list?nextIndexNew=${nextIndexNew}|"> &gt;&gt;</a></div>
			</div>
        </section>
   		<div class="product_titles mb-3">
    		<h2>WHAT'S HOT</h2>
	    </div>
	    <section class="w-100 bg-light mb-3">
        	<div class="media-parent-box d-flex justify-content-between">
            	<article th:each="hotProductInfo, prodStat : ${hotProductInfoList}" class="media-box mx-3">
                	<div th:id="'carouselIndicatorsHot' + ${prodStat.index}" class="carousel slide" data-ride="carousel">
       					<div class="carousel-inner">
		                	<div th:each="hotProductPic, picStat: ${hotProductInfo.productPics}" th:classappend="${picStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
		                		<img th:src="${hotProductPic.imagePath}" alt="ProductImg" width=450px; height=300px;>
		                	</div>
		                </div>
		                <a class="carousel-control-prev" th:href="'#carouselIndicatorsHot' + ${prodStat.index}" role="button" data-slide="prev">
				            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				            <span class="sr-only">Previous</span>
				        </a> 
				        <a class="carousel-control-next" th:href="'#carouselIndicatorsHot' + ${prodStat.index}" role="button" data-slide="next">
				            <span class="carousel-control-next-icon" aria-hidden="true"></span>
				            <span class="sr-only">Next</span>
				        </a>
		            </div>
                	<div th:text=${hotProductInfo.product.name} class="font-weight-bold">Product Name</div>
                	<div th:text=${hotProductInfo.product.description} class="media-text">Product Detail</div>
                	<div class="media-text font-weight-bold"><a th:href="|/horsepower/product/product-detail?productId=${hotProductInfo.product.id}|">Shop now</a></div>
                </article>
            </div>
            <div class="d-flex justify-content-between">
				<div><a th:if="${prevIndexHot != 0}" th:href="|/horsepower/product/product-list?prevIndexHot=${prevIndexHot}|" class=""> &lt;&lt;</a></div>
				<div><a th:if="${nextIndexHot != 20}" th:href="|/horsepower/product/product-list?nextIndexHot=${nextIndexHot}|"> &gt;&gt;</a></div>
			</div>
        </section>
	 </div>
</div>

<th:block layout:fragment="script">
    <script>
    	$(document).ready(function() {
			
    	});
    </script>
</th:block>