<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<div layout:fragment="content" class="content d-flex justify-content-center">
    <div class="w-100">
   		<div class="product_titles mb-3">
    		<h2>NEW ARRIVALS</h2>
	    </div>
	   	<section class="w-100 bg-light mb-3">
        	<div class="media-parent-box d-flex justify-content-between">
            	<article class="media-box">
                	<img src="/img/horse-banner.jpg" alt="영상1" width=450px;>
                	<div class="font-weight-bold">Product Name</div>
                	<div class="media-text">Product Detail</div>
                	<div class="media-text"><a href="#">Shop now</a></div>
                </article>
                <article class="media-box">
                	<img src="/img/horse-banner.jpg" alt="영상1" width=450px;>
                	<div class="font-weight-bold">Product Name</div>
                	<div class="media-text">Product Detail</div>
                	<div class="media-text"><a href="#">Shop now</a></div>
                </article>
                <article class="media-box">
                	<img src="/img/horse-banner.jpg" alt="영상1" width=450px;>
                	<div class="font-weight-bold">Product Name</div>
                	<div class="media-text">Product Detail</div>
                	<div class="media-text"><a href="#">Shop now</a></div>
                </article>
                <article class="media-box">
                	<img src="/img/horse-banner.jpg" alt="영상1" width=450px;>
                	<div class="font-weight-bold">Product Name</div>
                	<div class="media-text">Product Detail</div>
                	<div class="media-text"><a href="#">Shop now</a></div>
                </article>
            </div>
        </section>
   		<div class="product_titles mb-3">
    		<h2>WHAT'S HOT</h2>
	    </div>
	    <section class="w-100 bg-light mb-3">
        	<div class="media-parent-box d-flex justify-content-between">
            	<article class="media-box">
                	<img src="/img/horse-banner.jpg" alt="영상1" width=450px;>
                	<div class="font-weight-bold">Product Name</div>
                	<div class="media-text">Product Detail</div>
                	<div class="media-text"><a href="#">Shop now</a></div>
                </article>
                <article class="media-box">
                	<img src="/img/horse-banner.jpg" alt="영상1" width=450px;>
                	<div class="font-weight-bold">Product Name</div>
                	<div class="media-text">Product Detail</div>
                	<div class="media-text"><a href="#">Shop now</a></div>
                </article>
                <article class="media-box">
                	<img src="/img/horse-banner.jpg" alt="영상1" width=450px;>
                	<div class="font-weight-bold">Product Name</div>
                	<div class="media-text">Product Detail</div>
                	<div class="media-text"><a href="#">Shop now</a></div>
                </article>
                <article class="media-box">
                	<img src="/img/horse-banner.jpg" alt="영상1" width=450px;>
                	<div class="font-weight-bold">Product Name</div>
                	<div class="media-text">Product Detail</div>
                	<div class="media-text"><a href="#">Shop now</a></div>
                </article>
            </div>
        </section>
	 </div>
</div>

<th:block layout:fragment="script">
    <script>
    </script>
</th:block>