<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<div layout:fragment="content" class="content d-flex justify-content-center">
    <div class="w-100">
   		<div class="product_titles mb-3">
    		<h2>NEW ARRIVALS</h2>
	    </div>
	   	<section class="w-100 bg-light mb-3">
        	<div class="media-parent-box d-flex justify-content-between">
            	<article th:each="newProductInfo : ${newProductInfoList}" class="media-box mx-3">
                	<div th:each="newProductPic : ${newProductInfo.productPics}" class="product">
                		<img th:src="${newProductPic.imagePath}" alt="ProductImg" width=450px; height=300px;>
                	</div>
                	<div th:text="${newProductInfo.product.name}" class="font-weight-bold">Product Name</div>
                	<div th:text="${newProductInfo.product.description}" class="media-text">Product Detail</div>
                	<div class="media-text font-weight-bold"><a th:href="|/horsepower/product/product-detail?productId=${newProductInfo.product.id}|">
						Shop now</a></div>
                </article>
            </div>
        </section>
   		<div class="product_titles mb-3">
    		<h2>WHAT'S HOT</h2>
	    </div>
	    <section class="w-100 bg-light mb-3">
        	<div class="media-parent-box d-flex justify-content-between">
            	<article th:each="hotProductInfo : ${hotProductInfoList}" class="media-box">
                	<div th:each="hotProductPic : ${hotProductInfo.productPics}">
                		<img th:src="${hotProductPic.imagePath}" alt="ProductImg" width=450px; height=300px;>
                	</div>
                	<div th:text=${hotProductInfo.product.name} class="font-weight-bold">Product Name</div>
                	<div th:text=${hotProductInfo.product.description} class="media-text">Product Detail</div>
                	<div class="media-text font-weight-bold"><a th:href="|/horsepower/product/product-detail?productId=${hotProductInfo.product.id}|">Shop now</a></div>
                </article>
            </div>
        </section>
	 </div>
</div>

<th:block layout:fragment="script">
    <script>
    	$(document).ready(function() {
			
    	});
    </script>
</th:block>