<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayoutAdmin}">
<div layout:fragment="content" class="content d-flex justify-content-center">
	<div id="wrap" class="d-flex justify-content-center">
		<div>
			<div>
				<div>Product Name</div>
				<input type="text" id="productName" class="form-control col-4" name="productName">
			</div>
			<div>
				<div>Category</div>
				<select id="category" class="form-control col-4">
					<option>--select category--</option>
					<option value="MEN'S">MEN'S</option>
					<option value="WOMEN'S">WOMEN'S</option>
					<option value="ACCESSORIES">ACCESSORIES</option>
				</select>
			</div>
			<div>
				<div>Product Description</div>
				<textarea rows=5 cols=100 id="productDesc"></textarea>
			</div>
			<div class="d-flex my-3">
				<div class="firstImg my-2">
					<input type="file" accept=".jpg, .png, .gif, .webp" class="d-none imgFile" multiple>
					<a href="" id="imgUploadBtn1"><img
							src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png" alt="imgFile"
							width=25></a>

					<div class="ml-2 fileName"></div>

				</div>
				<input type="button" id="addImg" class="d-none">
				<a href="" id="imgAddBtn"><img src="/img/plus-sign.jpg" alt="imgFile" width=25 class="mt-5"></a>
			</div>
			<div class="d-flex my-5">
				<div class="productDetail mx-2">
					<div>
						<div>Color</div>
						<select id="color" class="form-control">
							<option>--select color--</option>
							<option value="Blue">Blue</option>
							<option value="Red">Red</option>
							<option value="Yellow">Yellow</option>
							<option value="White">White</option>
							<option value="Pink">Pink</option>
						</select>
						<div class="d-flex">
							<input type="text" id="newColor" class="form-control col-8 mr-1"
								placeholder="Type a new color here">
							<button id="addColor" class="btn btn-warning">Add Color</button>
						</div>
					</div>
					<div>
						<div>Size</div>
						<select id="size" class="form-control">
							<option>--select size--</option>
							<option value="S">Small</option>
							<option value="M">Medium</option>
							<option value="L">Large</option>
						</select>
					</div>
					<div>
						<div>Quantity</div>
						<input type="text" id="quantity" class="form-control col-4" name="quantity">
					</div>
					<div>
						<div>Price</div>
						<input type="text" id="price" class="form-control col-4" name="price">
					</div>
					<div>
						<div>Sale</div>
						<input type="text" id="sale" class="form-control col-4" name="sale">
					</div>
				</div>
				<div class="addProductDetail d-flex align-items-center mx-5">
					<input type="button" id="addFile" class="d-none">
					<a href="" id="addProductDetails"><img src="/img/plus-sign.jpg" alt="imgFile" width=25></a>
				</div>
			</div>
			<div class="d-flex justify-content-end">
				<button class="addBtn btn btn-success">ADD</button>
			</div>
		</div>
	</div>
</div>

<th:block layout:fragment="script">
	<script>
		$(document).ready(function () {
			$("#imgUploadBtn1").on('click', function (e) {
				e.preventDefault();
				$(".imgFile").click();
			});

			$("#imgAddBtn").on('click', function (e) {
				e.preventDefault();
				$("#addImg").click();
			});

			$("#addImg").on('click', function (e) {
				e.preventDefault();
				var newfirstImg = $('.firstImg:last').clone(true);

				newfirstImg.find(".imgFile").val("");
				newfirstImg.find(".fileName").text("");
				// Append the cloned image to the desired container
				$('.firstImg:last').after(newfirstImg);
			});

			$(".imgFile").on('change', function (e) {
				let files = e.target.files;
				if (files.length == null) {
					$(".imgFile").val("");
					$(".fileName").text("");
					return;
				}

				for (let i = 0; i < files.length; i++) {
					let file = files[i];
					let fileName = file.name;
					let ext = fileName.split(".").pop().toLowerCase();

					if (ext != "gif" && ext != "png" && ext != "jpg" && ext != "webp") {
						alert("You can only upload image files (.gif, .png, .jpg, .webp)");
						$(".imgFile").val("");
						$(".fileName").text("");
						return;
					}
					
					// Display the file name
					$(".fileName").append('<p>' + fileName + '</p>');
				}
			});

			$("#addProductDetails").on('click', function (e) {
				e.preventDefault();
				$("#addFile").click();
			});

			$('#addFile').click(function (e) {
				e.preventDefault();

				// Clone the last .productDetail
				var newProductDetail = $('.productDetail:last').clone();

				// Clear the input fields in the cloned .productDetail
				newProductDetail.find('input').val('');
				newProductDetail.find('select').prop('selectedIndex', 0);

				// Append the cloned .productDetail to the parent container
				$('.productDetail:last').after(newProductDetail);
			});


			$(".addBtn").on('click', function () {
				//alert("add");

				let formData = new FormData();
				
				let productName = $("#productName").val().trim();
				if (!productName) {
					alert("Please input product name.");
					return;
				}

				let category = $("#category").val();
				if (category == "--select category--") {
					alert("Please input category.");
					return;
				}

				let productDesc = $("#productDesc").val();
				if (!productDesc) {
					alert("Please input product description.");
					return;
				}

				let fileName = $(".imgFile").val();
				if (!fileName) {
					alert("Please input image File.");
					return;
				}

				if (fileName) {
					let ext = fileName.split(".").pop().toLowerCase();
					//console.log(ext);

					if ($.inArray(ext, ["jpg", "gif", "png", "webp"]) == -1) {
						alert("Upload image files only. (.jpg, .gif, .png, .webp)");
						$(".imgFile").val(""); // 파일 초기화
						return;
					}
				}

				let color = $("#color").val();
				if (color == "--select color--") {
					alert("Please input color.");
					return;
				}

				let size = $("#size").val();
				if (size == "--select size--") {
					alert("Please input size.");
					return;
				}

				let quantity = $("#quantity").val().trim();
				if (quantity == "--select quantity--") {
					alert("Please input quantity.");
					return;
				}

				let price = $("#price").val().trim();
				if (!price) {
					alert("Please input product price.");
					return;
				}

				let sale = $("#sale").val().trim();

				let files = $(".imgFile")[0].files;

				//alert(quantity);
				//return;

				
				formData.append("productName", productName);
				formData.append("category", category);
				formData.append("productDesc", productDesc);
				$(".imgFile").each(function (index) {
				    let files = this.files;
				    for (let i = 0; i < files.length; i++) {
				        formData.append("imgFile", files[i]);
				    }
				});

				$(document).ready(function () {
					$('.addProductDetail').click(function (e) {
						e.preventDefault();

						// Clone the last .productDetail
						var newProductDetail = $('.productDetail:last').clone();

						// Clear the input fields in the cloned .productDetail
						newProductDetail.find('input').val('');
						newProductDetail.find('select').prop('selectedIndex', 0);

						// Append the cloned .productDetail to the parent container
						$('.productDetail:last').after(newProductDetail);
					});
				});

				// For each .productDetail element
				$('.productDetail').each(function (index) {
					// Append the value of the input fields to the FormData object with a unique key
					formData.append('productDetails[' + index + '].color', $(this).find('#color').val());
					formData.append('productDetails[' + index + '].size', $(this).find('#size').val());
					formData.append('productDetails[' + index + '].quantity', $(this).find('#quantity').val());
					formData.append('productDetails[' + index + '].price', $(this).find('#price').val());
					formData.append('productDetails[' + index + '].sale', $(this).find('#sale').val());
				});

				$.ajax({
					type: "POST"
					, url: "/horsepower/admin/product-manage-add"
					, data: formData
					, enctype: "multipart/form-data"
					, processData: false
					, contentType: false

					, success: function (data) {
						if (data.code == 200) {
							alert("Product has been successfully added.");
							location.href = "/horsepower/admin/manage-product"
						} else if (data.code == 403) {
							alert(data.error_message);
							location.href = "/horsepower/product/product-list";
						} else {
							alert(data.error_message);
						}
					}

					, error: function (e) {
						alert("Failed to add the product.");
					}
				});
			});
			$('#addColor').click(function (e) {
				e.preventDefault();
				var newColor = $('#newColor').val().trim();
				if (newColor) {
					var newOption = new Option(newColor, newColor);
					$('#color').append(newOption);
					$('#newColor').val('');  // Clear the input field
				} else {
					alert('Please type a color.');
				}
			});


		});
	</script>
</th:block>