<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayoutAdmin}">
<div layout:fragment="content" class="content d-flex justify-content-center">
    <div>
	    <table class="table">
	    	<thead>
	    		<tr>
	    			<th>Product ID</th>
	    			<th>Product Name</th>
	    			<th>Category</th>
	    			<th>Created At</th>
	    			<th>Delete User</th>
	    			<th>Edit User</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		<tr th:each="productInfo : ${productInfoList}">
	    			<td th:text="${productInfo.product.id}">1</td>
	    			<td th:text="${productInfo.product.name}">abcde</td>
	    			<td th:text="${productInfo.product.category}">MEN'S</td>
	    			<td th:text="${#temporals.format(productInfo.product.createdAt, 'yyyy-MM-dd HH:mm:ss')}">1234123</td>
	    			<td><a href=""><button class="deleteBtn btn btn-danger" th:data-product-id="${productInfo.product.id}">DELETE</button></a></td>
	    			<td><a th:href="|/horsepower/admin/manage-product-edit?productId=${productInfo.product.id}|"><button class="editBtn btn btn-warning">EDIT</button></a></td>
	    		</tr>
	    	</tbody>
	    </table>
		<div class="d-flex justify-content-end">
			<a href="/horsepower/admin/manage-product-create"><button class="btn btn-success">ADD</button></a>
		</div>
		<div class="text-center">
			<a th:if="${prevId != 0}" th:href="|/horsepower/admin/manage-product?prevId=${prevId}|" class="mr-5">&lt;&lt;</a>
			<a th:if="${nextId != 0}" th:href="'/horsepower/admin/manage-product?nextId=' + ${nextId}"> &gt;&gt;</a>
		</div>
	</div>
</div>

<th:block layout:fragment="script">
    <script>
    $(document).ready(function() {
    	//alert("ready");
    	$(".deleteBtn").on('click', function(e) {
    		let productId = $(this).data("product-id");
    		//alert(productId);
    		
    		$.ajax({
    			type:"GET"
    			, url:"/horsepower/admin/manage-product-delete"
    			, data:{"productId":productId}
    		
    			, success:function(data) {
    				if (data.code == 200) {
    					alert("Product has been deleted.");
    					location.reload(true);
    				} else {
						alert(code.error_message);
					}
    			}
    			
    			, error:function(e) {
    				alert("Failed to delete product.");
    			}
    		});
    	});
    });
    </script>
</th:block>