<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayoutAdmin}">
<div layout:fragment="content" class="content d-flex justify-content-center">
    <div id="wrap" class="d-flex justify-content-center">
    	<div>
    		<div>
    			<div>Product Name</div>
    			<input type="text" id="productName" class="form-control col-4" name="productName">
    		</div>
    		<div>
    			<div>Category</div>
    			<select id="category" class="form-control col-4">
            		<option>--select category--</option>
            		<option value="MEN'S">MEN'S</option>
            		<option value="WOMEN'S">WOMEN'S</option>
            		<option value="ACCESSORIES">ACCESSORIES</option>
        		</select>
    		</div>
    		<div>
    			<div>Product Description</div>
    			<textarea rows=5 cols=100></textarea>
    		</div>
    		<div class="my-2">
    			<input type="file" id="imgFile" accept=".jpg, .png, .gif" class="d-none">
    			<img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png" alt="imgFile"
    			width=25>
    			
    			<div id="fileName" class="ml-2"></div>
    			
    			<input type="button" id="addFile" class="d-none">
    			<img src="/img/plus-sign.jpg" alt="imgFile"
    			width=25>
    		</div>
    		<div class="productDetail d-flex justify-cotent-center my-5">
    			<div>
    				<div>
    					<div>Color</div>
    					<select id="color" class="form-control">
            				<option>--select size--</option>
            				<option value="Blue">Blue</option>
            				<option value="Red">Red</option>
            				<option value="Yellow">Yellow</option>
        				</select>
    				</div>
    				<div>
    					<div>Size</div>
    					<select id="size" class="form-control">
            				<option>--select size--</option>
            				<option value="small">Small</option>
            				<option value="medium">Medium</option>
            				<option value="large">Large</option>
        				</select>
    				</div>
    				<div>
    					<div>Quantity</div>
    					<input type="text" id="quantity" class="form-control" name="quantity">
    				</div>
    			</div>
    			<div class="addProductDetail d-flex align-items-center mx-5">
    				<input type="button" id="addFile" class="d-none">
    				<img src="/img/plus-sign.jpg" alt="imgFile"
    				width=25>
    			</div>
    		</div>
    	</div>
    </div>
</div>

<th:block layout:fragment="script">
    <script>
    </script>
</th:block>