<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayoutAdmin}">
<div layout:fragment="content" class="content d-flex justify-content-center">
    <div id="wrap" class="d-flex justify-content-center">
    	<div>
    		<div>
    			<div>Product Name</div>
    			<input type="text" id="productName" class="form-control col-4" name="productName"
    			th:value="${productInfo.product.name}">
    		</div>
    		<div>
    			<div>Category</div>
    			<select id="category" class="form-control col-4" >
            		<option th:text="${productInfo.product.category}" th:value="${productInfo.product.category}">--select category--</option>
            		<option th:unless="|${productInfo.product.category} == MEN'S|" value="MEN'S">MEN'S</option>
            		<option th:unless="|${productInfo.product.category} == WOMEN'S|" value="WOMEN'S">WOMEN'S</option>
            		<option th:unless="|${productInfo.product.category} == ACCESSORIES|" value="ACCESSORIES">ACCESSORIES</option>
        		</select>
    		</div>
    		<div>
    			<div>Product Description</div>
    			<textarea rows=5 cols=100 id="productDesc"
    			th:text="${productInfo.product.description}"></textarea>
    		</div>
    		<div class="d-flex">
	    		<div th:each="productPic : ${productInfo.productPics}" class="firstImg my-2">
	    			<img th:src="${productPic.imagePath}" alt="productImg" width="300">
	    			
	    			
	    		</div>
	    			<div>
		    			<a href="" id="imgUpdateBtn1" class="mx-3"><img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png" alt="imgFile"
		    			width=25></a>
		    			<input type="file" id="imgFile1" accept=".jpg, .png, .gif" class="d-none">
		    			<a href="" id="imgAddBtn1"><img src="/img/plus-sign.jpg" alt="imgFile"
		    			width=25 class="mt-5"></a>
		    			
		    			<div id="fileName1" class="ml-2"></div>
	    			</div>
    		</div>
    		<div class="productDetail d-flex my-5">
    			<div>
    				<div>
    					<div>Color</div>
    					<select id="color" class="form-control">
            				<option th:text="${productInfo.productDetail.color}" th:value="${productInfo.productDetail.color}">--select color--</option>
            				<option value="Blue">Blue</option>
            				<option value="Red">Red</option>
            				<option value="Yellow">Yellow</option>
            				<option value="White">White</option>
        				</select>
    				</div>
    				<div>
    					<div>Size</div>
    					<select id="size" class="form-control">
            				<option th:text="${productInfo.productDetail.size}" th:value="${productInfo.productDetail.size}">--select size--</option>
            				<option value="S">S</option>
            				<option value="M">M</option>
            				<option value="L">L</option>
        				</select>
    				</div>
    				<div>
    					<div>Quantity</div>
    					<input type="text" id="quantity" class="form-control col-4" name="quantity"
    					th:value=${productInfo.productDetail.quantity}>
    				</div>
    				<div>
    					<div>Price</div>
    					<input type="text" id="price" class="form-control col-4" name="price"
    					th:value=${productInfo.productDetail.price}>
    				</div>
    				<div>
    					<div>Sale</div>
    					<input type="text" id="sale" class="form-control col-4" name="sale"
    					th:value=${productInfo.productDetail.sale}>
    				</div>
    			</div>
    			<div class="addProductDetail d-flex align-items-center mx-5">
    				<input type="button" id="addFile" class="d-none">
    				<img src="/img/plus-sign.jpg" alt="imgFile"
    				width=25>
    			</div>
    		</div>
    		<div class="d-flex justify-content-end">
				<button class="saveBtn btn btn-success" th:data-product-id="${productInfo.product.id}">SAVE</button>
			</div>
    	</div>
    </div>
</div>

<th:block layout:fragment="script">
    <script>
    $(document).ready(function() {
    	//alert("ready");
    	$("#imgUpdateBtn1").on('click', function(e) {
    		e.preventDefault();
    		$("#imgFile1").click();
    	});
    	
    	$("#imgFile1").on('change', function(e) {
    		//alert("hi");
    		//return;
    		let file1 = e.target.files[0];
			if (file1 == null) {
				$("#imgFile1").val("");
				$("#fileName1").text("");
				return;
			}
			
			let fileName1 = e.target.files[0].name;
			console.log(fileName1);
			
			let ext = fileName1.split(".").pop().toLowerCase();
			console.log(ext);
			
			if (ext != "gif" && ext != "png" && ext != "jpg") {
				alert("이미지 파일만 업로드 할수 있습니다. (.gif, .png, .jpg)");
				$("#imgFile1").val(""); 
				$("#fileName1").text(""); 
				return;
			}
			
			$("#fileName1").text(fileName1);
    	});
    	
    	$(".saveBtn").on('click', function() {
    		//alert("add");
    		//return;
    		let productId = $(this).data("product-id");
    		
    		let productName = $("#productName").val().trim();
    		if (!productName) {
    			alert("Please input product name.");
    			return;
    		}
    		
    		let category = $("#category").val();
    		if (category == "--select category--") {
    			alert("Please input category.");
    			return;
    		}
    		
    		let productDesc = $("#productDesc").val();
    		if (!productDesc) {
    			alert("Please input product description.");
    			return;
    		}
    		
    		let fileName1 = $("#imgFile1").val();
    		
    		
    		if (fileName1) {
				let ext = fileName1.split(".").pop().toLowerCase();
				//console.log(ext);
				
				if($.inArray(ext, ["jpg", "gif", "png"]) == -1) {
					alert("Upload image files only. (.jpg, .gif, .png)");
					$("#imgFile1").val(""); // 파일 초기화
					return;
				}
			}
    		
    		let color = $("#color").val();
    		if (color == "--select color--") {
    			alert("Please input color.");
    			return;
    		}
    		
    		let size = $("#size").val();
    		if (size == "--select size--") {
    			alert("Please input size.");
    			return;
    		}
    		
    		let quantity = $("#quantity").val().trim();
    		if (quantity == "--select quantity--") {
    			alert("Please input quantity.");
    			return;
    		}
    		
    		let price = $("#price").val().trim();
    		if (!price) {
    			alert("Please input product price.");
    			return;
    		}
    		
    		let sale = $("#sale").val().trim();
    		
    		//alert(productId);
    		//return;
    		
    		let formData = new FormData();
				formData.append("productId", productId); 
				formData.append("productName", productName); 
				formData.append("category", category); 
				formData.append("productDesc", productDesc); 
				formData.append("imgFile1", $("#imgFile1")[0].files[0]);
				formData.append("color", color); 
				formData.append("size", size); 
				formData.append("quantity", quantity);
				formData.append("price", price);
				formData.append("sale", sale);
    		
    		$.ajax({
    			type:"PUT"
				, url:"/horsepower/admin/product-manage-update"
				, data:formData
				, enctype:"multipart/form-data" 
				, processData:false
				, contentType:false
				
				, success:function(data) {
					if (data.code == 200) {
						alert("Product has been successfully updated.");
						location.href = "/horsepower/admin/manage-product"
					} else if (data.code == 403) {
						alert(data.error_message);
						location.href = "/horsepower/product/product-list";
					} else {
						alert(data.error_message);
					}
				}
    		
    			, error:function(e) {
    				alert("Failed to update the product.");
    			}
    		});
    	});    	
    });
    </script>
</th:block>