<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayoutAdmin}">
<div layout:fragment="content" class="content d-flex justify-content-center">
    <div>
	    <table class="table">
	    	<thead>
	    		<tr>
	    			<th>Order #</th>
	    			<th>User Email</th>
	    			<th>Order Status</th>
	    			<th>Product</th>
	    			<th>Product Info</th>
	    			<th>Ordered Quantity</th>
	    			<th>Ordered Date</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		<tr th:each="productOrder : ${productOrder}">
	    			<td th:text="${productOrder.order.orderNumber}">1</td>
        			<td th:text="${productOrder.order.email}">abcde</td>
	    			<td th:text="${productOrder.order.orderStatus}">asf</td>
	    			<td>
					    <img th:src="${productOrder.productInfo.productPics[0].imagePath}" width=100px;>
					</td>
					<td>
						<p th:text="|Product Name: ${productOrder.productInfo.product.Name}|"></p>
                        <p th:each="productDetail : ${productOrder.productInfo.productDetailList}" th:text="|Color: ${productDetail.color}|"></p>
                        <p th:each="productDetail : ${productOrder.productInfo.productDetailList}" th:text="|Size: ${productDetail.size}|"></p>
					</td>
					<td th:text="${productOrder.order.quantity}"></td>
	    			<td th:text="${#temporals.format(productOrder.order.createdAt, 'yyyy-MM-dd HH:mm:ss')}">asdf</td>
	    		</tr>
	    	</tbody>
	    </table>
	    <div class="d-flex justify-content-end">
	    	<button class="btn btn-success" onclick="history.back()">Back</button>
	    </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script>
    $(document).ready(function() {
    });
    </script>
</th:block>