<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.horsepower.product.mapper.ProductMapper">
 	<insert id="insertProduct" parameterType="com.horsepower.product.domain.Product">
 		INSERT INTO
 			`product`
 		(
 			`name`
			, `description`
			, `category`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			#{name}
 			, #{description}
 			, #{category}
 			, NOW()
 			, NOW()
 		)
 		<selectKey keyProperty="id" resultType="int" order="AFTER" >
        SELECT LAST_INSERT_ID()
    	</selectKey>
 	</insert>
 	
 	<select id="selectProductById" parameterType="int" resultType="com.horsepower.product.domain.Product">
 		SELECT
 			`id`
			, `name`
			, `description`
			, `category`
			, `createdAt`
			, `updatedAt`
		FROM
			`product`
		WHERE
			`id` = #{id}
 	</select>
 	<select id="selectProduct" resultType="com.horsepower.product.domain.Product">
 		SELECT
 			`id`
			, `name`
			, `description`
			, `category`
			, `createdAt`
			, `updatedAt`
		FROM
			`product`
 	</select>
 	
 	<select id="selectProductOrderByCreatedAtDESC" resultType="com.horsepower.product.domain.Product">
 		SELECT
 			`id`
			, `name`
			, `description`
			, `category`
			, `createdAt`
			, `updatedAt`
		FROM
			`product`
		ORDER BY
			`createdAt` DESC
 	</select>
 	<select id="selectProductOrderByUpdatedAt" resultType="com.horsepower.product.domain.Product">
 		SELECT
 			`id`
			, `name`
			, `description`
			, `category`
			, `createdAt`
			, `updatedAt`
		FROM
			`product`
		ORDER BY
			`updatedAt`
 	</select>
 	
 	<update id="updateProductById" parameterType="map">
 		UPDATE
 			`product`
 		SET
 			`name` = #{name}
			, `description` = #{name}
			, `category` = #{name}
			, `updatedAt`= NOW()
 		WHERE
 			`id` = #{id}
 	</update>
 	
 	<delete id="deleteProductById" parameterType="int">
 		DELETE FROM
 			`product`
 		WHERE
 			`id` = #{id}
 	</delete>
 </mapper>