<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.horsepower.product.mapper.ProductPicsMapper">
 	<insert id="insertProductPics" parameterType="map">
 		INSERT INTO 
 			`product_pics`
 		(
 			`productId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			#{productId}
 			, #{imagePath}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<select id="selectProductPicsByProductId" parameterType="int" resultType="com.horsepower.product.domain.ProductPics">
 		SELECT
 			`id`
			, `productId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`product_pics`
		WHERE
			`productId` = #{productId}
 	</select>
 	
 	<select id="selectProductPicByProductIdLimit1" parameterType="int" resultType="com.horsepower.product.domain.ProductPics">
 		SELECT
 			`id`
			, `productId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`product_pics`
		WHERE
			`productId` = #{productId}
		LIMIT 1
 	</select>
 	
 	<delete id="deleteProductPicsByProductId" parameterType="int">
 		DELETE FROM
 			`product_pics`
 		WHERE
			`productId` = #{productId}
 	</delete>
	<delete id="deleteProductPicById" parameterType="int">
	DELETE FROM
	`product_pics`
	WHERE
	`id` = #{id}
	</delete>
 </mapper>