<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.horsepower.product.mapper.ProductDetailMapper">
 	<insert id="insertProdcutDetail" parameterType="map">
 		INSERT INTO
 			`product_detail`
 		(
 			`productId`
			, `color`
			, `size`
			, `quantity`
			, `sale`
			, `price`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			#{productId}
 			, #{color}
 			, #{size}
 			, #{quantity}
 			, #{sale}
 			, #{price}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<select id="selectProductDetailListByProductId" parameterType="int" resultType="com.horsepower.product.domain.ProductDetail">
 		SELECT
	 		`id`
			, `productId`
			, `color`
			, `size`
			, `quantity`
			, `sale`
			, `price`
			, `createdAt`
			 ,`updatedAt`
		FROM
			`product_detail`
		WHERE
			`productId` = #{productId}
 	</select>
 	<select id="selectProductDetailByProductIdAndColorAndSize" parameterType="map" resultType="com.horsepower.product.domain.ProductDetail">
 		SELECT
	 		`id`
			, `productId`
			, `color`
			, `size`
			, `quantity`
			, `sale`
			, `price`
			, `createdAt`
			 ,`updatedAt`
		FROM
			`product_detail`
		WHERE
			`productId` = #{productId}
			AND `color` = #{color}
			AND `size` = #{size}
 	</select>
 	<select id="selectProductDetailById" parameterType="int" resultType="com.horsepower.product.domain.ProductDetail">
 		SELECT
	 		`id`
			, `productId`
			, `color`
			, `size`
			, `quantity`
			, `sale`
			, `price`
			, `createdAt`
			 ,`updatedAt`
		FROM
			`product_detail`
		WHERE
			`id` = #{Id}
 	</select>
 	<select id="selectProductDetailListById" parameterType="int" resultType="com.horsepower.product.domain.ProductDetail">
 		SELECT
	 		`id`
			, `productId`
			, `color`
			, `size`
			, `quantity`
			, `sale`
			, `price`
			, `createdAt`
			 ,`updatedAt`
		FROM
			`product_detail`
		WHERE
			`id` = #{Id}
 	</select>
 	
 	<update id="updateProductDetailByProductId" parameterType="map">
 		UPDATE
 			`product_detail`
 		SET
 			`color` = #{color}
			, `size` = #{size}
			, `quantity` = #{quantity}
			, `sale` = #{sale}
			, `price` = #{price}
			, `updatedAt`= NOW()
 		WHERE
 			`productId` = #{productId}
 			AND `color` = #{color}
			AND `size` = #{size}
 	</update>
 	<update id="updateProductDetailQuantity" parameterType="map">
 		UPDATE
 			`product_detail`
 		SET
			`quantity` = `quantity` - #{quantity}
			, `updatedAt`= NOW()
 		WHERE
 			`id` = #{id}
 	</update>
 	
 	<delete id="deleteProductDetailByProductId" parameterType="int">
 		DELETE FROM
 			`product_detail`
		WHERE
			`productId` = #{productId}	
 	</delete>
 	<delete id="deleteProductDetailById" parameterType="int">
 		DELETE FROM
 			`product_detail`
        WHERE
            `id` = #{id}
    </delete>
 </mapper>