<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.horsepower.product.mapper.ProductMapper">
 	<insert id="insertProduct" parameterType="com.horsepower.product.domain.Product">
 		INSERT INTO
 			`product`
 		(
 			`name`
			, `description`
			, `category`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			#{name}
 			, #{description}
 			, #{category}
 			, NOW()
 			, NOW()
 		)
 		<selectKey keyProperty="id" resultType="int" order="AFTER" >
        SELECT LAST_INSERT_ID()
    	</selectKey>
 	</insert>
 	
 	<select id="selectProductById" parameterType="int" resultType="com.horsepower.product.domain.Product">
 		SELECT
 			`id`
			, `name`
			, `description`
			, `category`
			, `createdAt`
			, `updatedAt`
		FROM
			`product`
		WHERE
			`id` = #{id}
 	</select>
 	<select id="selectProduct" resultType="com.horsepower.product.domain.Product">
 		SELECT
 			`id`
			, `name`
			, `description`
			, `category`
			, `createdAt`
			, `updatedAt`
		FROM
			`product`
		<if test="direction == 'next'">
			<![CDATA[
			WHERE
				`id` < #{standardId}
			]]>
			ORDER BY `id` DESC
			</if>
			<if test="direction == 'prev'">
			<![CDATA[
			WHERE
				`id` > #{standardId}
			]]>
			</if>
			<if test="direction == null">
			ORDER BY `id` DESC
			</if>
		LIMIT #{limit}
 	</select>
 	
 	<select id="selectProductOrderByCreatedAtDESC" resultType="com.horsepower.product.domain.Product">
 		SELECT
 			`id`
			, `name`
			, `description`
			, `category`
			, `createdAt`
			, `updatedAt`
		FROM
			`product`
		ORDER BY
			`createdAt` DESC
		
 	</select>
 	<select id="selectProductOrderByUpdatedAt" resultType="com.horsepower.product.domain.Product">
 		SELECT
 			`id`
			, `name`
			, `description`
			, `category`
			, `createdAt`
			, `updatedAt`
		FROM
			`product`
		ORDER BY
			`updatedAt`
		
 	</select>
 	<select id="selectProudcutIdAsSort" parameterType="String">
 		SELECT
 			`id`
 		FROM
 			`product`
 		ORDER BY `id` ${sort}
 		LIMIT 1
 	</select>
 	<select id="selectProductByCategory" parameterType="String" resultType="com.horsepower.product.domain.Product">
 		SELECT
 			`id`
			, `name`
			, `description`
			, `category`
			, `createdAt`
			, `updatedAt`
		FROM
			`product`
		WHERE
		    `category` LIKE CONCAT(#{category}, '%')
 	</select>
 	
 	<update id="updateProductById" parameterType="map">
 		UPDATE
 			`product`
 		SET
 			`name` = #{name}
			, `description` = #{description}
			, `category` = #{category}
			, `updatedAt`= NOW()
 		WHERE
 			`id` = #{id}
 	</update>
 	
 	<delete id="deleteProductById" parameterType="int">
 		DELETE FROM
 			`product`
 		WHERE
 			`id` = #{id}
 	</delete>
 </mapper>