<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.horsepower.product.mapper.ProductPicsMapper">
 	<insert id="insertProductPics" parameterType="map">
 		INSERT INTO 
 			`product_pics`
 		(
 			`productId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			#{productId}
 			, #{imagePath}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 </mapper>