<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      style="--slider-right: 0;">
<div layout:fragment="content" class="content d-flex justify-content-center">
    <div class="banner w-50">
    	<img class="w-100 h-100" alt="banner pic" src="/img/horse-banner.jpg">
    </div>
    <div class="w-50 ">
	    <div class="mb-4 text-center">
	    	<h2>LOGO</h2>
	    </div>
	    <div class="mb-2 text-center">
	    	<h3>HorsePower</h3>
	    </div>
	    <div class="d-flex justify-content-center my-3">
		    <a href="/horsepower/user/sign-in"><button class="btn btn-secondary mr-3">Log In</button></a>
		    <a href="/horsepower/user/sign-up"><button class="btn btn-secondary ml-3">Sign Up</button></a>
        </div>
        <div class="d-flex justify-content-center aligin-items-center">
		    <div class="signUpBox">
		    	<div class="w-100">
		    		<span class="font-weight-bold">First Name</span>
		    		<input type="text" class="form-control mb-3" id="firstName" name="firstName"
					placeholder="Enter first name">
		    		<span class="font-weight-bold">Last Name</span>
		    		<input type="text" class="form-control mb-3" id="lastName" name="lastName"
					placeholder="Enter last name">
		    		<span class="font-weight-bold">Date of Birth</span>
		    		<input type="text" class="form-control mb-3" id="dob" name="dob"
					placeholder="Select Date">
		    		<span class="font-weight-bold">Email Address</span>
		    		<div class="d-flex justify-content-center aligin-items-center  mb-3">
		    			<input type="text" class="form-control" id="email" name="email"
						placeholder="Enter email address">
						<button type="button" id="loginemailCheckBtn" class="btn btn-success">check</button>
					</div>
					<div class="ml-3">
						<div id="emailCheck" class="small text-danger d-none">Enter an email address.</div>
						<div id="emailCheckDuplicated" class="small text-danger d-none">Email is already in use.</div>
						<div id="emailCheckOk" class="small text-success d-none">Email is good for sign up.</div>
					</div>
					<span class="font-weight-bold">Password</span>
		    		<input type="password" class="form-control" id="password" name="password"
					placeholder="Enter password">
					<div class="d-flex justify-content-center m-3">
						<button type="submit" id="signUpBtn" class="btn btn-dark col-12">SIGN UP</button>
					</div>
					<div class="d-flex justify-content-center">
						<div class="g-signin2" data-onsuccess="onSignIn">Sign Up</div>
					</div>
		    	</div>
		    </div>
	    </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script>
    	$(document).ready(function() {
    		// alert("준비");
    		$("#loginemailCheckBtn").on('click', function() {
    			// alert("check");
    			let email = $("#email").val().trim();
    			// alert(email);
    			$("#email").on('change', function() {
					$("#emailCheck").addClass("d-none");
					$("#emailCheckDuplicated").addClass("d-none");
					$("#emailCheckOk").addClass("d-none");
				});
    			if (!email) {
    				$("#emailCheck").removeClass("d-none");
    			}
    			
    			$.ajax({
    				type:"POST"
    				, url:"/horsepower/user/is-duplicated-email"
    				, data:{"email":email}
    			
    				, success:function(data) {
    					if (data.is_duplicated_email) { // 중복
							$("#emailCheckDuplicated").removeClass("d-none");
						} else { // 사용가능
							$("#emailCheckOk").removeClass("d-none");
						}
    				}
    				
    				, error:function(e) {
    					alert("An error has occured while checking your email.")
    				}
    			});
    		});
    		
    		$("#signUpBtn").on('click', function(e) {
    			e.preventDefault;
    			// alert("sign up");
    			let firstName = $("#firstName").val().trim();
    			
    			if (!firstName) {
    				alert("Enter your first name.")
    				return false;
    			}
    			
    			let lastName = $("#lastName").val().trim();
    			
    			if (!lastName) {
    				alert("Enter your last name.")
    				return false; 
    			}
    			
    			let dob = $("#dob").val().trim();
    			
    			if (!dob) {
    				alert("Enter your date of birth.")
    				return false;
    			}
    			
    			let email = $("#email").val().trim();
    			
    			if (!email) {
    				alert("Enter your email address.")
    				return false;
    			}
    			
    			let password = $("#password").val();
    			
    			if (!password) {
    				alert("Enter your password.")
    				return false;
    			}
    			
    			// alert(password);
    			
    			if ($("#emailCheckOk").hasClass("d-none")) {
					alert("Please check if your email address is available.");
					return false;
				}
    			
    			$.ajax({
    				type:"POST"
    				, url:"/horsepower/user/sign-up"
    				, data:{"firstName": firstName,
    					"lastName": lastName,
    					"dob": dob,
    					"email": email,
    					"password": password}
    			
    				, success:function(data) {
    					if (data.code == 200) {
    						alert("Welcome to the family!")
    						return;
    					} else {
    						alert(data.error_message);
    						return;
    					}
    				}
    				
    				, error:function(e) {
    					alert("Error has occured while signing you up. \n Please try again.")
    				}
    			});
    		});
    		
    		function onSignIn(googleUser) {
    			  var profile = googleUser.getBasicProfile();
    			  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
    			  console.log('Name: ' + profile.getName());
    			  console.log('Image URL: ' + profile.getImageUrl());
    			  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    			}
    		
    		if (checkbox.checked) {
                fieldsContainer.classList.remove("fields-container--login-active");
              } else {
                fieldsContainer.classList.remove("fields-container--signup-active");
              }
    	});
    </script>
</th:block>