<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<header class="" th:fragment="headerFragment">
			<div class="header">
				<!-- 위쪽 네비 영역 -->
				<div class="top-menu d-flex justify-content-end aligin-items-center">
					<div th:if="${session.userId == null}" class="mr-4"><a href="" >Account</a></div>
					<div th:unless="${session.userId == null}" class="mr-4" th:text="|${session.userFirstName}'s Account|"></div>
					<div class="mr-4"><a href="">Help</a></div>
					<div th:if="${session.userId == null}" class="mr-4"><a href="/horsepower/user/sign-up">Sign Up</a></div>
					<div th:unless="${session.userId == null}" class="mr-4"><a href="/horsepower/user/sign-out">Sign Out</a></div>
				</div>
				<div class="logo-menu w-100 d-flex justify-content-between align-items-center">
					<!-- 로고 영역 -->
					<div class="col-3">
						<h1><a href="/horsepower/product/product-list">LOGO</a></h1>
					</div>
					<div class="col-6 d-flex justify-content-center aligin-items-center font-weight-bold">
						<div class="mr-5"><a href="" >MEN'S</a></div>
						<div class="mr-5"><a href="">WOMEN'S</a></div>
						<div class=""><a href="">ACCESSORIES</a></div>
					</div>
					<!-- 유저 메뉴 영역 -->
					<div class="col-3 d-flex justify-content-end aligin-items-center">
						<div class="user-menu d-flex justify-content-end aligin-items-center">
							<div class="mr-2" th:if="${session.userAuthority} == user"><a href="" >WISHLIST</a></div>
							<div class="mr-2" th:if="${session.userAuthority} == Admin"><a href="/horsepower/admin/manage-product" >MANAGE</a></div>
							<div class="mr-2"><a href="">ACCOUNT</a></div>
							<div class=""><a href="" class="checkOut-btn"
							data-toggle="modal" data-target="#modal">CHECKCOUT</a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="modal">
			<!-- modal-sm: 자은 모달, modal-dialog-centered: 수직 가운데 정렬 -->
  				<div class="modal-dialog modal-dialog-scrollable">
    				<div class="modal-content text-center">
    					<div class="modal-header">
        					<button type="button" class="close" data-dismiss="modal">&times;</button>
   				 		</div>
    					<div class="modal-body py-3">
    						<span id="checkoutInfo"></span>
    					</div>
    					<div class="py-3 border-top">
    						<a href="/horsepower/checkout/check">Checkout</a>
    					</div>
    				</div>
  				</div>
			</div>
			
			<script>
                $(document).ready(function(){
                    $(".checkOut-btn").on('click', function(e) {
                    	e.preventDefault();
                        $('#modal').modal('show');
                    });
                    
                    $("#modal").on('hidden.bs.modal', function () {
                        $('#modal .modal-body').html('');
                    });
                    

                    $("#modal").on('show.bs.modal', function (e) {
                    	console.log('Modal is about to be shown');
                     
                    	$.ajax({
                        url: "/horsepower/checkout/info"
                        , method: 'GET'
                        
                        , success: function(data) {
                        	console.log(data);
                        	var html = '';
                            for (var i = 0; i < data.length; i++) {
                            	html += '<p>Product Name: ' + data[i].product.name + '</p>';
                            	html += '<p>Quantity: ' + data[i].checkout.quantity + '</p>';
                              // Add more properties here as needed
                            }
                        	$('#modal .modal-body').append(html);
                        }
                        , error: function(e) {
                        	alert("Failed to load your cart.");
                        }
                      });
                    });
                    

                });
            </script>
	</header>
</html>