@charset "UTF-8";

a, a:hover {text-decoration:none; color:#000;}

header {
		position: fixed;
  		top: 0;
  		width: 100%;
		z-index: 100;
		background-color:LightGray;}

.user-menu {font-size: small;}

.content {padding-top: 6.751rem;
		  min-height: 650px;}
		 
.signInBox {width: 375px;}

.signUpBox {width: 375px;}
        
.product_titles {width: 100%;
		background-color:LightGray;}
		
.addProductDetail {height: 200px;}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; 
}

footer {padding-top: 6.751rem;}
		
