@charset "UTF-8";

a, a:hover {text-decoration:none; color:#000;}

.deliveryInfo {width: 50%;}
.deliveryInfoBox {width: 80%;
                 margin: 0 auto;}

.chekcoutInfo {width: 50%;}
.checkoutInfoBox {width: 50%;
                 margin: 0 auto;
                 background-color: LightGray;}

.payInfoProductDetails {font-size: 8px;}

.paymentConfirmed {width: 80%;
                   margin: 0 auto;
                   background-color: LightGray;
                   height: 500px;}

.header {
		position: fixed;
  		top: 0;
  		width: 100%;
		z-index: 100;
		background-color:LightGray;}

.user-menu {font-size: small;}

.content {padding-top: 6.751rem;
		  min-height: 650px;}
		 
.signInBox {width: 375px;}

.signUpBox {width: 375px;}
        
.product_titles {width: 100%;
		background-color:LightGray;}
		
.addProductDetail {height: 200px;}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; 
}


.modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100%;
	width: 400px;
}

.btn-dark {
    text-align: center;
    line-height: 20px;
    padding: 0;
}
	

footer {padding-top: 6.751rem;}
		
