<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<div layout:fragment="content" class="content d-flex justify-content-center">
    <div class="deliveryInfo">
    	<div class="deliveryInfoBox">
	    	<div class="">
		    	<span>Account</span><br>
		    	<span th:text="${session.userEmail}"></span>
	    	<hr>
	    	</div>
	    	<div class="typeOfAdd">
	        	<h3 class="DeliveryAdd">Delivery</h3>
	        	<div class="font-weight-bold">Country/Region</div>
	        	<input type="text" class="form-control" id="country" name="country" value="South Korea">
	        	<div class="d-flex my-2">
            		<input type="text" class="form-control mr-2" id="FirstName" name="FirstName" placeholder="First Name">
            		<input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last Name">
	        	</div>
	        	<input type="text" class="form-control" id="address1" name="address1" placeholder="AddressLine1">
	        	<input type="text" class="form-control my-2" id="address2" name="address2" placeholder="AddressLine2">
	        	<div class="d-flex">
	        		<input type="text" class="form-control" id="postalCode" name="postalCode" placeholder="Postal code">
	        		<input type="text" class="form-control mx-2" id="city" name="city" placeholder="City">
	        		<input type="text" class="form-control" id="state" name="state" placeholder="State">
	        	</div>
	        	<input type="text" class="form-control my-2" id="phone" name="phone" placeholder="Phone">
	        </div>	
			<input type="checkbox" id="BillingAdd" name="BillingAdd" checked>Click here to use Shipping address as Billing address.
			<div class="CreditCard">
				<div class="securePayment">All transactions are secure and encrypted.</div>
			    <div class="securePayment">Choose a payment method</div>

			    <form>
					<div class="d-flex justify-content-between mb-3">
						<div>
			        		<input type="radio" name="paymentMethod" value="card"> Credit/Debit Card
						</div>
						<div >
							<img alt="VISA" src="https://cdn.shopify.com/shopifycloud/checkout-web/assets/0169695890db3db16bfe.svg" role="img" width="38" height="24" class="_1fragemwu _1fragemwp _1fragemx3 _1fragemsc _1tgdqw66">
							<img alt="MASTERCARD" src="https://cdn.shopify.com/shopifycloud/checkout-web/assets/ae9ceec48b1dc489596c.svg" role="img" width="38" height="24" class="_1fragemwu _1fragemwp _1fragemx3 _1fragemsc _1tgdqw66">
							<img alt="AMEX" src="https://cdn.shopify.com/shopifycloud/checkout-web/assets/f11b90c2972f3811f2d5.svg" role="img" width="38" height="24" class="_1fragemwu _1fragemwp _1fragemx3 _1fragemsc _1tgdqw66">
						</div>
					</div>
			        <div class="d-flex justify-content-center mb-3">
						<input class="col-11 form-control" type="text" id="cardNumber" name="cardNumber" placeholder="Card Number">
					</div>
					<div class="d-flex justify-content-center mb-3">
						<input class="col-5 form-control mr-4" type="text" id="expiryDate" name="expiryDate" placeholder="Expiration date (MM / YY)">
						<input class="col-5 form-control ml-4" type="text" id="securityCode" name="securityCode" placeholder="Security Code">
					</div>
					<div class="d-flex justify-content-center mb-3 pb-3">
						<input class="col-11 form-control" type="text" id="nameOnCard" name="nameOnCard" placeholder="Name on Card">
					</div>
			    </form>
			</div>
	        <button class="payBtn btn btn-dark col-12">Pay now</button>
    	</div>
	</div>
    <div class="chekcoutInfo">
    	<div class="checkoutInfoBox" th:each="checkout : ${checkoutinfoList}">
    		<div class="d-flex mb-2">
    			<img th:src="${checkout.productPic.imagePath}" alt="productImg" width=50px; height=50px;>
    			<div class="payInfoProductDetails ml-3">
    				<div th:text="${checkout.product.name}" th:data-checkout-id="${checkout.checkout.id}">ProductName</div>
    				<div th:text="${checkout.productDetail.color}">Color</div>
    				<div th:text="${checkout.productDetail.size}">Size</div>
    				<div th:text="${checkout.checkout.quantity}">Quantity</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>

<th:block layout:fragment="script">
    <script>
    $(document).ready(function() {
    	$(".payBtn").on('click', function(e) {
    		e.preventDefault();
    		let country = $("#country").val();
    		let firstName = $("#FirstName").val();
    		let lastName = $("#LastName").val();
    		let address1 = $("#address1").val();
    		let address2 = $("#address2").val();
    		let postalCode = $("#postalCode").val();
    		let city = $("#city").val();
    		let state = $("#state").val();
    		let phone = $("#phone").val();
    		let billingCountry = $(".BillingAdd #country").val();
    		console.log("billingCountry: ", billingCountry);
            let billingFirstName = $(".BillingAdd #FirstName").val();
            console.log("billingFirstName: ", billingFirstName);
            let billingLastName = $(".BillingAdd #LastName").val();
            let billingAddress1 = $(".BillingAdd #address1").val();
            let billingAddress2 = $(".BillingAdd #address2").val();
            let billingPostalCode = $(".BillingAdd #postalCode").val();
            let billingCity = $(".BillingAdd #city").val();
            let billingState = $(".BillingAdd #state").val();
            let billingPhone = $(".BillingAdd #phone").val();
    		let checkoutItems = [];
    		$(".checkoutInfoBox").each(function() {
    			let checkoutId = $(this).find(".payInfoProductDetails div:nth-child(1)").attr("data-checkout-id");
    			let productName = $(this).find(".payInfoProductDetails div:nth-child(1)").text();
    			let color = $(this).find(".payInfoProductDetails div:nth-child(2)").text();
    			let size = $(this).find(".payInfoProductDetails div:nth-child(3)").text();
    			let quantity = $(this).find(".payInfoProductDetails div:nth-child(4)").text();
    			let checkout = {
    				"checkoutId": checkoutId,
    				"productName": productName,
    				"color": color,
    				"size": size,
    				"quantity": quantity
    			};
    			checkoutItems.push(checkout);
    		});
    		let delieveryInfo = {
    			"country": country,
    			"firstName": firstName,
    			"lastName": lastName,
    			"address1": address1,
    			"address2": address2,
    			"postalCode": postalCode,
    			"city": city,
    			"state": state,
    			"phone": phone,
    			"billingCountry": billingCountry,
                "billingFirstName": billingFirstName,
                "billingLastName": billingLastName,
                "billingAddress1": billingAddress1,
                "billingAddress2": billingAddress2,
                "billingPostalCode": billingPostalCode,
                "billingCity": billingCity,
                "billingState": billingState,
                "billingPhone": billingPhone,
    			"checkoutItems": checkoutItems
    		};
    		console.log(delieveryInfo);
    		$.ajax({
    			type: "POST",
    			contentType: "application/json",
    			url: "/horsepower/checkout/pay",
    			data: JSON.stringify(delieveryInfo),
    			dataType: 'json',
    			success: function(data) {
    				alert("Payment successful");
    				window.location.href = "/horsepower/checkout/pay-success";
    			},
    			error: function(e) {
    				alert("Payment failed");
    				console.log("ERROR: ", e);
    			}
    		});
    	});
		$('#BillingAdd').on('change', function() {
		    if ($(this).is(':checked')) {
		    	$('.BillingAdd').remove();
		      // Checkbox is checked, do something
		      	console.log("Checkbox is checked");
		    } else {
				// Clone the last .productDetail
				var BillingAddress = $('.typeOfAdd:last').clone();
				
				BillingAddress.addClass('BillingAdd');
				
				BillingAddress.find('.DeliveryAdd').text('Billing');
				
				// Clear the input fields in the cloned .productDetail
				BillingAddress.find('input').val('');
				BillingAddress.find('select').prop('selectedIndex', 0);

				// Append the cloned .productDetail to the parent container
				$('.typeOfAdd:last').after(BillingAddress);
		      console.log("Checkbox is not checked");
		    }
		  });
    });
    </script>
</th:block>